<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.PoetriesDAO">
    <resultMap id="map" type="Poetries" >
        <id column="id" property="id"></id>
        <result column="poet_id" property="poet_id"></result>
        <result column="content" property="content"></result>
        <result column="title" property="title"></result>

        <association property="poets" javaType="Poets">
            <id column="aid" property="id"></id>
            <result column="name" property="name"></result>


        </association>

    </resultMap>

    <select id="findAll" resultMap="map">
        select p.id , p.poet_id, p.content, p.title,
        a.id as aid,a.name
        from poetries p LEFT JOIN poets a
        on p.poet_id = a.id
    </select>

    <select id="findByName" resultMap="map">
        select p.id , p.poet_id, p.content, p.title,
        a.id as aid,a.name
        from poetries p LEFT JOIN poets a
        on p.poet_id = a.id
        where a.name=#{name}
    </select>
	
</mapper>
